# Twitter

---

Group name: Group C

---

## Setup

In [1]:
import tweepy
from keys import *
import requests

## Connection with API v2

In [3]:
client = tweepy.Client( bearer_token=bearer_token, 
                        consumer_key=consumer_key, 
                        consumer_secret=consumer_secret, 
                        access_token=access_token, 
                        access_token_secret=access_token_secret, 
                        return_type = requests.Response,
                        wait_on_rate_limit=True)

## Query

- Search Tweets from CNN's Twitter account

- We excluded Retweets

In [4]:
my_query = 'from:CNN -is:retweet'

In [5]:
tweets = client.search_recent_tweets(query=my_query, 
                                    tweet_fields=['author_id', 'created_at'],
                                     max_results=100)

## Convert pandas to DataFrame

In [6]:
import pandas as pd

# Save data as dictionary
tweets_dict = tweets.json() 

# Extract "data" value from dictionary
tweets_data = tweets_dict['data'] 

# Transform to pandas Dataframe
df = pd.json_normalize(tweets_data)

In [7]:
df

,edit_history_tweet_ids,text,created_at,id,author_id
0,[1596255169959821312],Six top stays for travelers who prioritize sus...,2022-11-25T21:31:04.000Z,1596255169959821312,759251
1,[1596251153737678855],How much do we all have in common? Join @LisaL...,2022-11-25T21:15:06.000Z,1596251153737678855,759251
2,[1596247973029085186],"The US and England finish in 0-0 draw, in just...",2022-11-25T21:02:28.000Z,1596247973029085186,759251
3,[1596247628462886913],We tried four wacky Thanksgiving leftover reci...,2022-11-25T21:01:06.000Z,1596247628462886913,759251
4,[1596243620314910721],“A Charlie Brown Christmas” was supposed to be...,2022-11-25T20:45:10.000Z,1596243620314910721,759251
...,...,...,...,...,...
95,[1595843478780518400],Tesla has reportedly lost more than $600 billi...,2022-11-24T18:15:09.000Z,1595843478780518400,759251
96,[1595839705580388352],What is the best holiday movie of all time? Re...,2022-11-24T18:00:09.000Z,1595839705580388352,759251
97,[1595835922016309255],President Biden said he would work with Congre...,2022-11-24T17:45:07.000Z,1595835922016309255,759251
98,[1595832153937305601],Iran is in a “full-fledged human rights crisis...,2022-11-24T17:30:09.000Z,1595832153937305601,759251
99,[1595828622807695360],Dolly Parton paid tribute to her goddaughter M...,2022-11-24T17:16:07.000Z,1595828622807695360,759251

In [8]:
df.to_csv('/Users/Kim/Library/Mobile Documents/com~apple~CloudDocs/UNI/HdM/Semester7/Data Science Python/DS-Homework1/data/raw/twitter-cnn.csv')